/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
@font-face {
    font-family: myfont;
    /* src: url(/fonts/chowfun.ttf); */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
html {
    min-height: 100%;
}
html {
    background: #fafbfc;
}
body {
    position: relative;
    color: #000;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:active,
:focus,
:hover {
    outline: 0;
    outline-offset: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 20px;
}
h4 {
    font-size: 1em;
}
.zentask__logo {
    width: 100px;
    height: 100px;
}
.zentask__text {
    letter-spacing: 2px;
    font-family: myfont !important;
}
.columns {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: visible;
    overflow-y: auto;
    padding-top: 75px;
    background: #0079bf;
    height: 100vh;
}
.add-card {
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.1s linear;
}
.add-card:hover {
    background: rgba(200, 200, 200, 0.7);
}
.create-column {
    flex: 0 0 auto;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    width: 250px;
}
.create-column__name {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.create-column__add-card {
    padding: 10px;
    color: #fff;
}
.create-column__add-card:hover {
    background: rgba(255, 255, 255, 0.2);
}
.column {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    position: relative;
    max-height: 100%;
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    background: #ebecf0;
    border-radius: 3px;
}
.column__cards {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 4px;
}
.column__name {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.column__add-card {
    margin-top: 10px;
}
.clickable-card {
    position: relative;
}
.clickable-card__link {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card {
    margin-bottom: 10px;
    border-radius: 3px;
    transition: background 0.1s linear;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}
.card:hover {
    background: #f2f2f2;
}
.card__content {
    padding: 5px;
}
.card:last-child {
    margin-bottom: 0;
}
.edit-modal {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    z-index: 200;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.5);
}
.edit-card {
    display: grid;
    grid-template-columns: auto 200px;
    grid-column-gap: 10px;
    position: relative;
    width: auto;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 3px;
    padding: 20px 30px;
    background: #f4f5f7;
}
@media screen and (max-width: 600px) {
    .edit-card {
        grid-template-columns: auto;
        padding: 10px 10px;
    }
}
.edit-card__exit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    transition: background 0.1s linear;
}
@media screen and (max-width: 600px) {
    .edit-card__exit {
        top: 10px;
        right: 10px;
    }
}
.edit-card__exit:hover {
    background: rgba(200, 200, 200, 0.7);
}
.instant-actions {
    width: auto;
}
.instant-actions .title {
    font-size: 1.5em;
    font-weight: 600;
}
.instant-actions__item {
    margin-bottom: 40px;
}
.instant-actions__item:last-child {
    margin-bottom: 0;
}
.action-title__input {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-left: -8px;
    border-radius: 3px;
    border: 2px solid #f4f5f7;
    background: #f4f5f7;
    resize: none;
}
.action-title__input:focus {
    border: 2px solid #000;
    background: #fff;
}
.action-title__column-name {
    text-decoration: underline;
}
.action-description__title {
    margin-bottom: 10px;
}
.action-description__input {
    width: 100%;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 3px;
    resize: vertical;
    background: #e2e4e9;
}
.action-actions__title {
    margin-bottom: 10px;
}
.comments {
    display: flex;
    flex-direction: column;
}
.comments__comment {
    margin-bottom: 20px;
}
.comments:last-child {
    margin-bottom: 0;
}
.comment {
    display: flex;
}
.comment__avatar {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background: #e2e4e9;
}
.comment__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comment__author {
    font-weight: 700;
}
.comment__date {
    font-size: 0.9em;
}
.delayed-actions {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.delayed-actions__title {
    margin-bottom: 15px;
}
.delayed-actions__action {
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
    background: #e2e4e9;
    margin-bottom: 10px;
    transition: background 0.1s linear;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.delayed-actions__action:hover {
    background: #d4d7de;
}

/* for 3 buttons options */
.column > .MuiButtonBase-root {
    position: absolute;
    top: 0;
    right: 0;
}
