@font-face {
    font-family: myfont;
    /* src: url(/fonts/chowfun.ttf); */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.header {
    padding-left: 7px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #0067a3;
    color: #fff;
}
.header__link {
    color: #fff;
}
.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.nav__list {
    z-index: 10;
}
.nav__logo {
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 0;
}
.nav-menu {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 3px;
}
.nav-menu__item {
    margin-right: 3px;
}
.nav-menu__item-last {
    margin-left: auto;
}
.nav-menu__item-last:last-child {
    margin-left: unset;
}
.nav-menu__link {
    display: inline-block;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}
.nav-menu__link:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: 0.1s linear;
}
@media screen and (max-width: 600px) {
    .hidden-text {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
}

.zentask__text a {
    color: white;
}
